.Test_shadow {
	box-shadow: 1px 1px 9px 2px #ccc;
}

div.Test_holder {
	margin: 20px auto;
	border: 1px solid #ccc;
	font: 12px Arial;
	padding: 3px;
	width: 400px;
	max-height: 400px;
	overflow-y: auto;
	cursor: default;
}

div.Test_holder table {
	border-collapse: collapse;
	width: 100%;
}

div.Test_holder table tr.Test_header td {
	border: 1px solid #ccc;
	background-color: #eee;
	font-weight: bold;
}

div.Test_holder table td {
	text-align: center;
	font-size: 11px;
}

div.Test_holder table td.Test_test_name {
	color: #336699;
}

div.Test_holder table td.Test_number {
	width: 60px;
}

.Test_total {
	color: #587058;
}

.Test_pass {
	color: #587498;
}

.Test_fail {
	color: #E86850;
}

.Test_print_title {
	font-weight: bold;
	font-size: 11px;
	padding-left: 7px;
	padding-bottom: 4px;
	padding-top: 3px;
	border-bottom: 1px solid #CCC;
	margin-bottom: 4px;
}

.Test_print_data {
	/* overflow: auto; */
	/* max-height: 200px; */
	/* font-style: italic; */
	white-space: pre;
	font: 11px monospace;
	padding-top: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.Test_action_holder {
	border-top: 1px solid #ccc;
	margin-top: 20px;
}

.Test_action_button {
	font: 11px Arial;
	margin: 10px 6px 6px 6px;
	width: 70px;
}

.Test_center {
	text-align: center;
}
